// =================================================================
// modal Styles - Configurable
// =================================================================
//
//
// Styles in this file should only be using properties that are
// in the global array ($blocks-defaults) so they can be overwritten by
// the child theme
// Examples: color, border-color, font-family
//
// Variant styles, such as "open", or an alternate layout should be declared here
// as shown below IF that variant needs to modify one of the properties that
// can be overwritten via the array. This lets the child theme overwrite that
// as well.
//
// If you aren't using styles from the global array ($blocks-defaults) by
// using blocks-get() it doesn't belong in this file as it will be printed
// in the stylesheet multiple times (for each publication)
//

$blocks-block-modal-config: ();

// use the above array if you need to override the global $blocks-defaults array
// of styles ONLY for this block IN the plugin.
// You can then override THIS array by using $blocks-block-modal-theme in the child theme to
// override this array
//
// Remember, with great power comes great responsibility. This should not be used unless
// you really need it. Think carefully about why you aren't modifying the global config by adding
// a different variable.
//
// $blocks-block-modal-config: (
// 		primary-color:red,
// 		secondary-color: rebeccapurple,
// );


// Use the default Blocks configuration. You can override this globally
// in a theme.

$blocks-block-modal-config: map-merge( $blocks-block-modal-config, $blocks-config );

// This allows themes to optionally set theme options for this
// block only. You can set all or a few options - only the options
// you set in $block-block-modal-theme will override the defaults.

@if variable-exists( blocks-block-modal-theme ) {
	$blocks-block-modal-config: map_merge( $blocks-block-modal-config, $blocks-block-modal-theme );
}

// A global helper variable for the block-get mixin.

$current-map: $blocks-block-modal-config;


$scope: blocks-get( 'scope' );

.#{$scope}-block-editorial-modal {
	.wp-block-editorial-modal-content {
		background: blocks-get( 'background-color-default' );

		a,
		.wp-block-editorial-modal-overlay-close,
		.wp-block-editorial-modal-overlay-close::before {
			color: blocks-get( 'color-primary-text' );
		}
	}

	.wp-block-editorial-modal-callout {
		background: blocks-get( 'background-color-default' );
	}

	&.has-dark-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'background-color-dark' );

			p,
			ul,
			ol {
				color: blocks-get( 'font-color-theme-dark' );
			}
		}
	}

	&.has-light-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'background-color-light' );
		}

		.wp-block-editorial-modal-callout-content {
			h1,
			.button {
				color: blocks-get( 'color-gray-a' );
			}

			p,
			ol,
			ul {
				color: blocks-get( 'color-gray-b' );
			}

			.button {
				border-color: blocks-get( 'color-gray-a' );
			}
		}
	}

	&.has-primary-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'color-primary' );
		}
	}

	&.has-secondary-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'color-secondary' );
		}
	}

	&.has-tertiary-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'color-tertiary' );
		}
	}

	&.has-quaternary-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'color-quaternary' );
		}
	}

	&.has-quinary-theme {
		.wp-block-editorial-modal-content,
		.wp-block-editorial-modal-callout {
			background: blocks-get( 'color-quinary' );
		}
	}
}

