// =================================================================
// Sample Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-editorial-modal {
	@extend %col-full;
	background: $color-grayscale-d;
	text-align: center;
	position: relative;
	margin: 40px 0;


	.wp-block-editorial-modal-media {
		width: 100%;

		.wp-block-editorial-modal-image {
			display: block;
			height: auto;
			width: 100%;
		}

		img {
			object-fit: cover;
		}
	}

	.wp-block-editorial-modal-callout-content {
		max-width: 80%;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 20px;

		@include breakpoint( $xs ) {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			height: 100%;
			padding: 40px;
		}
	}

	h1,
	p {
		@include breakpoint( $xs ) {
			color: $color-grayscale-f;
		}
	}
}


.wp-block-editorial-modal-content {
	@extend %col-full;
	padding: 60px 24px 24px;
	background: $color-grayscale-d;
	position: relative;

	@include breakpoint( $xs ) {
		padding: 90px 60px 60px;
	}

	.overlay-close {
		@extend %icon-close;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		text-align: center;

		@include breakpoint( $xs ) {
			top: 40px;
		}
	}
}

