/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

[data-selected-modal="true"] .wp-block-editorial-modal-content {
	display: block !important;
}

.wp-block-editorial-modal-callout,
.wp-block-editorial-modal-content {
	float: none !important;
}

.wp-block-editorial-modal-callout .editor-rich-text__tinymce[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce,
.wp-block-editorial-modal-callout .block-editor-rich-text__tinymce[data-is-placeholder-visible="true"] + .block-editor-rich-text__tinymce {
	padding-right: 0;
}

.wp-block-editorial-modal-trigger-wrapper {
	display: inline-block;
	margin-top: 1.2em;
}

.wp-block-editorial-modal-media figure {
	margin: 0;

	img {
		display: block;
	}
}

.wp-block-editorial-modal h1 {
	line-height: 1.2;
}