// =================================================================
// Map Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-maps {
	margin: 30px auto;

	.wp-block-maps-wrapper {
		height: 0;
		overflow: hidden;
		padding-top: calc( ( 3 / 4 ) * 100% );
		position: relative;
	}

	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	&.has-aspectratio-16by9 {

		.wp-block-maps-wrapper {
			padding-top: calc( ( 9 / 16 ) * 100% );
		}
	}

	&.has-aspectratio-4by3 {

		.wp-block-maps-wrapper {
			padding-top: calc( ( 3 / 4 ) * 100% );
		}
	}

	&.has-aspectratio-1by1 {

		.wp-block-maps-wrapper {
			padding-top: calc( ( 1 / 1 ) * 100% );
		}
	}

	&.has-aspectratio-2by1 {

		.wp-block-maps-wrapper {
			padding-top: calc( ( 1 / 2 ) * 100% );
		}
	}

	&.has-aspectratio-1by2 {

		.wp-block-maps-wrapper {
			padding-top: calc( ( 2 / 1 ) * 100% );
		}
	}

	&.xsmall {

		.wp-block-maps-wrapper {
			@include breakpoint( $md ) {
				padding-top: 20%
			}
		}
	}

	&.small {

		.wp-block-maps-wrapper {
			@include breakpoint( $md ) {
				padding-top: 35%
			}
		}
	}

	&.medium {

		.wp-block-maps-wrapper {
			@include breakpoint( $md ) {
				padding-top: 50%
			}
		}
	}

	&.large {

		.wp-block-maps-wrapper {
			@include breakpoint( $md ) {
				padding-top: 65%
			}
		}
	}

	&.xlarge {

		.wp-block-maps-wrapper {
			@include breakpoint( $md ) {
				padding-top: 80%
			}
		}
	}

	.wp-block-maps-info {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}

	.wp-block-maps-info-caption {
		margin-right: 20px;
	}

	.wp-block-maps-info-button {
		margin-right: 0;
	}

	&.alignfull {

		.wp-block-maps-info {
			margin: 20px 20px 0 20px;
		}
	}
}
