// =================================================================
// Map Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-maps {
	height: 0;
	margin: 30px auto;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;

	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	&.has-aspectratio-16by9 {
		padding-top: 9 / 16 * 100%;
	}

	&.has-aspectratio-4by3 {
		padding-top: 3 / 4 * 100%;
	}

	&.has-aspectratio-1by1 {
		padding-top: 1 / 1 * 100%;
	}

	&.has-aspectratio-2by1 {
		padding-top: 1 / 2 * 100%;
	}

	&.has-aspectratio-1by2 {
		padding-top: 2 / 1 * 100%;
	}

	&.xsmall {
		@include breakpoint( $md ) {
			padding-top: 20%
		}
	}

	&.small {
		@include breakpoint( $md ) {
			padding-top: 35%
		}
	}

	&.medium {
		@include breakpoint( $md ) {
			padding-top: 50%
		}
	}

	&.large {
		@include breakpoint( $md ) {
			padding-top: 65%
		}
	}

	&.xlarge {
		@include breakpoint( $md ) {
			padding-top: 80%
		}
	}
}
