<div class="wp-prepress-layout-article">
		<article class="wp-prepress-layout-article-content">

			<header class="wp-prepress-layout-article-header">
				<h1 class="page-title wp-prepress-layout-article-hed">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
				<h2 class="wp-prepress-layout-article-dek">Donec convallis eget mauris</h2>
			</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis eget mauris eu efficitur. Morbi ut lectus mattis, laoreet leo ac, euismod lectus. Duis non malesuada purus. Cras ut pharetra nisi, a consectetur turpis. Ut erat nulla, vehicula ut tempus sed, scelerisque nec arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis mi tellus, euismod id massa nec, volutpat commodo lacus. Mauris venenatis in ligula sit amet luctus. Duis tincidunt dui augue, sit amet vulputate eros fringilla vel. Phasellus posuere est id erat posuere maximus. Vestibulum vulputate a libero non suscipit. Sed sollicitudin ac felis et porttitor.</p>

			<div class="wp-block-maps {{modifier_class}}">
				<h3 class="wp-block-maps-title">Lorem ipsum dolor sit amet</h3>
				<div class="wp-block-maps-wrapper">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11795.782055216006!2d-71.11030469481534!3d42.34368501213655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379ed649036eb%3A0xe26d6ed14a8fbedd!2s43+Hawes+St%2C+Brookline%2C+MA+02446!5e0!3m2!1sen!2sus!4v1563221042604!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="wp-block-maps-info">
					<p class="wp-block-maps-info-caption">Duis non malesuada purus. Cras ut pharetra nisi, a consectetur turpis. Ut erat nulla, vehicula ut tempus sed, scelerisque nec arcu.</p>
					<button class="is-style-default wp-block-maps-info-button">View Map Larger</button>
				</div>
			</div>

			<p>Nulla vitae ante sagittis, euismod nisi gravida, dapibus massa. In nunc ipsum, tempor in lacus id, ultricies sodales nulla. Vivamus lobortis pulvinar tempor. Sed dictum ligula ac magna consequat dictum. Proin sed faucibus erat. Fusce hendrerit ante quis tincidunt congue. Nulla mollis nisl viverra finibus porttitor. Praesent malesuada, justo vel pharetra condimentum, odio diam pulvinar sem, quis egestas velit velit eu nunc. Vestibulum non lorem eget sem maximus iaculis vel quis ante. Suspendisse libero metus, laoreet quis consectetur eget, dictum eu ante. Donec varius risus ullamcorper nunc luctus, eget molestie mauris interdum.</p>

			<p>Donec sodales facilisis tellus vel eleifend. Nunc mauris nibh, fringilla eu accumsan quis, accumsan non justo. Morbi gravida non nibh vel consequat. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eget sapien at metus placerat tempor ut molestie nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue leo a neque dignissim suscipit. Etiam molestie justo id convallis pulvinar. Donec iaculis in enim sodales ultricies. Nunc mattis ante mi, non eleifend tortor facilisis imperdiet.</p>

			</article>
	</div>

