// =================================================================
// Sample Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//

//

.wp-block-editorial-headline {
	display: block;
	.wp-block-editorial-headline-pretext,
	.wp-block-editorial-headline-posttext {
		display: block;
		font-weight: 400;
		&:empty {
			display: none;
		}
	}
	&.is-style-emphasis-weight {
		font-weight: 100;
		strong {
			font-weight: 700;
		}
	}
	&.is-style-emphasis-color {
		strong {
			font-weight: inherit;
		}
	}
}
h2.wp-block-editorial-headline {
	.wp-block-editorial-headline-pretext,
	.wp-block-editorial-headline-posttext {
		font-size: .66em;
	}
}
h3.wp-block-editorial-headline {
	.wp-block-editorial-headline-pretext,
	.wp-block-editorial-headline-posttext {
		font-size: .75em;
	}
}
h4.wp-block-editorial-headline {
	.wp-block-editorial-headline-pretext,
	.wp-block-editorial-headline-posttext {
		font-size: .8em;
	}
}