// =================================================================
// Headline Styles - Configurable
// =================================================================

$blocks-block-headline-config: ();

// Use the default Blocks configuration. You can override this globally
// in a theme.

$blocks-block-headline-config: map-merge( $blocks-block-headline-config, $blocks-config );

// This allows themes to optionally set theme options for this
// block only. You can set all or a few options - only the options
// you set in $block-block-headline-theme will override the defaults.

@if variable-exists( blocks-block-headline-theme ) {
	$blocks-block-headline-config: map_merge( $blocks-block-headline-config, $blocks-block-headline-theme );
}

// A global helper variable for the block-get mixin.

$current-map: $blocks-block-headline-config;


$scope: blocks-get( 'scope' );

.#{$scope}-block-editorial-headline {
	span {
		color:  blocks-get( 'font-color-heading-small');
	}
	&.is-style-emphasis-color {
		color:  blocks-get( 'font-color-heading');
		strong {
			color:  blocks-get( 'color-primary-text');
		}
	}
}