<h2 id="wp-block-healine-1" class="wp-block-headline {{modifier_class}}">
	<span class="wp-block-headline-pretext">Chapter 1:</span>
	A <strong>Typical</strong> Headline.
	<span class="wp-block-headline-posttext">Additional text.</span>
</h2>
<h3 id="wp-block-healine-2" class="wp-block-headline {{modifier_class}}">
	<span class="wp-block-headline-pretext">Chapter 1:</span>
	A <strong>Typical</strong> Headline.
	<span class="wp-block-headline-posttext">Additional text.</span>
</h3>
<h4 id="wp-block-healine-3" class="wp-block-headline {{modifier_class}}">
	<span class="wp-block-headline-pretext">Chapter 1:</span>
	A <strong>Typical</strong> Headline.
	<span class="wp-block-headline-posttext">Additional text.</span>
</h4>

