<h2 class="wp-block-headline {{modifier_class}}">
	<span class="pretext">Chapter 1:</span>
	A <strong>Typical</strong> Headline.
	<span class="posttext">Additional text.</span>
</h2>
<h3 class="wp-block-headline {{modifier_class}}">
	<span class="pretext">Chapter 1:</span>
	A <strong>Typical</strong> Headline.
	<span class="posttext">Additional text.</span>
</h3>
<h4 class="wp-block-headline {{modifier_class}}">
	<span class="pretext">Chapter 1:</span>
	A <strong>Typical</strong> Headline.
	<span class="posttext">Additional text.</span>
</h4>

