// =================================================================
// Sample Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-button {
	display: block;
	padding: 10px 0;

	&.is-style-outline {
		border: 2px solid $color-grayscale-4;
	}
}
