// =================================================================
// Button Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

// a:active,
// a:visited { // TO DO: move to global location
// 	color: inherit;
// }

.wp-block-bu-button {
	@include transition( all 0.2s ease-in-out 0s);
	background: $color-grayscale-d;
	border-radius: 6px;
	text-decoration: none;
	color: inherit;
	text-align: center;
	padding: 0.5em 1em;
	display: flex;
	width: max-content;
	margin-inline: auto;
	
	&:hover {
		background: $color-grayscale-c;
	}

	&[class*="icon-"] {
		&::before {
			content: '>';
			display: block;
			@include transition( all 0.2s ease-in-out 0s);
			//font-size: 0.7em;
			font-weight: bold;
			//color: $color-grayscale-a;
			
		}
	}

	&.align-icon-right {
		&::before {
			//float: right;
			//padding-top: 7px;
			margin-inline-start: 0.5em;
			order: 2;
		}
	}

	&.align-icon-left {
		&::before {
			margin-inline-end: 0.5em;
		}
	}

	&.is-style-default {

		&.has-dark-theme {
			background: $color-grayscale-3;
			color: $color-grayscale-f !important;

			&:hover {
				background: $color-grayscale-2;
			}
		}

		&.has-light-theme {
			background: $color-grayscale-e;

			&:hover {
				background: $color-grayscale-d;
			}
		}
	}

	&.is-style-outline,
	&.is-style-accent,
	&.is-style-text {
		background: transparent;

		&:hover {
			background: transparent
		}
	}

	&.is-style-outline {
		border: 2px solid $color-grayscale-d;
		
		&:hover {
			border-color: $color-grayscale-c;
		}

		&.has-dark-theme {
			border-color: $color-grayscale-4;

			&:hover {
				border-color: $color-grayscale-0;
			}
		}

		&.has-light-theme {
			border-color: $color-grayscale-e;

			&:hover {
				border-color: $color-grayscale-d;
			}
		}
	}

	&.is-style-text {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

