/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

[data-type="bu/button"] {
	.wp-block-button.wp-block-bu-button {
		color: inherit;

		[data-rich-text-placeholder]:after {
			color: inherit;
		}
	}

	.components-autocomplete {
		display: inline-block;
		position: relative;
	}
}

.components-panel__body-bu-button-block-url {
	input {
		max-width: 100%;
	}
}