/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-bu-button-container {
	position: relative;
}

[data-type="bu/button"] {
	&.wp-block-bu-button {
		margin-top: 0;
		margin-bottom: 0;
	}
	&.wp-block-bu-button {
		color: inherit;

		[data-rich-text-placeholder]:after {
			color: inherit;
		}
	}

	.components-autocomplete {
		display: inline-block;
		position: relative;
	}
}

.bu-blocks-button-block-url-input {
	input[type=text] {
		max-width: 100%;
		border: 1px solid var(--wp-admin-theme-color);
	}
}
