// =================================================================
// Click to Tweet Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-clicktotweet {
	clear: both;

	&:hover {
		background: lightblue;
	}

	&::after {
		content: "Tweet this \F611";
		font-family: $font-family-icons, $font-family-sans-serif;
		background: lightblue;
		display: inline-block;
		text-align: right;
		float: right;
	}

	&.has-format-highlight {
		&:hover {
			background: transparent;
		}

		&::after {
			display: none;
		}

		//your custom styles here
		.wp-block-clicktotweet-highlight {
			@include icon( 'twitter', 'after' );
			background: lightblue;
		}
	}
}
