// =================================================================
// Sample Styles - Configurable
// =================================================================
//
//
// Styles in this file should only be using properties that are
// in the global array ($blocks-defaults) so they can be overwritten by
// the child theme
// Examples: color, border-color, font-family
//
// Variant styles, such as "open", or an alternate layout should be declared here
// as shown below IF that variant needs to modify one of the properties that
// can be overwritten via the array. This lets the child theme overwrite that
// as well.
//
// If you aren't using styles from the global array ($blocks-defaults) by
// using blocks-get() it doesn't belong in this file as it will be printed
// in the stylesheet multiple times (for each publication)
//

$blocks-block-bu-clicktotweet-config: ();

// use the above array if you need to override the global $blocks-defaults array
// of styles ONLY for this block IN the plugin.
// You can then override THIS array by using $blocks-block-bu-clicktotweet-theme in the child theme to
// override this array
//
// Remember, with great power comes great responsibility. This should not be used unless
// you really need it. Think carefully about why you aren't modifying the global config by adding
// a different variable.
//
// $blocks-block-bu-clicktotweet-config: (
// 		primary-color:red,
// 		secondary-color: rebeccapurple,
// );


// Use the default Blocks configuration. You can override this globally
// in a theme.

$blocks-block-bu-clicktotweet-config: map-merge( $blocks-block-bu-clicktotweet-config, $blocks-config );

// This allows themes to optionally set theme options for this
// block only. You can set all or a few options - only the options
// you set in $block-block-bu-clicktotweet-theme will override the defaults.

@if variable-exists( blocks-block-bu-clicktotweet-theme ) {
	$blocks-block-bu-clicktotweet-config: map_merge( $blocks-block-bu-clicktotweet-config, $blocks-block-bu-clicktotweet-theme );
}

// A global helper variable for the block-get mixin.

$current-map: $blocks-block-bu-clicktotweet-config;


$scope: blocks-get( 'scope' );

$_tweet-bg: blocks-get( 'color-gray-e' );

.publication-#{$scope} {
	.wp-block-bu-clicktotweet {
		&:not(.has-format-highlight):hover .wp-block-bu-clicktotweet-content {
			background-color: $_tweet-bg;
			box-shadow: 0px 0px 0px 10px $_tweet-bg;
		}

		&.has-format-highlight {
			.wp-block-bu-clicktotweet-highlight {
				background: $_tweet-bg;
				color: blocks-get( 'color-quaternary-text' );
			}
		}

		.wp-block-bu-clicktotweet-action {
			background-color: $_tweet-bg;
			color: blocks-get( 'color-quaternary-text' );
			font-family: blocks-get( 'font-family-secondary' );

			&::before {
				border-color: transparent $_tweet-bg transparent transparent;
			}
		}
	}
}
