// =================================================================
// Click to Tweet Block Base Styles
// TODO: Should this be in Responsive Foundation?
// =================================================================

@import 'src/global/bu-blocks-config';
@import 'src/blocks/clicktotweet/bu-blocks-block-clicktotweet-base';
@import 'src/blocks/clicktotweet/bu-blocks-block-clicktotweet-themeable';


// Default styles which apply to all instances of
// this block, regardless of where it shows up,
// go here. clicktotweet CSS for guidance purposes only,
// do not use in production.

// Click to Tweet Block
//
// This is a Click to Tweet Block.
//
// Status: In-Progress
//
// Template-override: clicktotweet-article-template-wrapper
//
// Markup: bu-blocks-block-clicktotweet.hbs
//
// .has-format-highlight - A tweet block with highlighted text from format bar.
//
// Styleguide Blocks.Editorial.Click to Tweet


