// =================================================================
// Intro Paragraph Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-introparagraph {
	&.is-style-split {
		p:first-of-type {
			column-count: 2;
		}
	}
	&.has-dropcap {
		p:first-of-type:first-letter {
			float: left;
			font-size: 4em;
			line-height: 1em;
			margin: 0 0.25em .125em 0;
		}
	}
}