// =================================================================
// Instagram Photo Block Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

%remove-list-styles { // TO DO: move to more global location
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wp-block-instagram-photo {
	border: 1px solid $color-grayscale-e;
	position: relative;
	overflow: hidden;
	margin-bottom: 60px;

	@include breakpoint( $sm ) {
		display: flex;
	}

	&.is-style-border {
		border: 1px solid $color-grayscale-e;
	}

	&.is-style-dropshadow {
		-webkit-box-shadow: 0px 3px 27px -2px rgba( 0, 0, 0, 0.18 );
		-moz-box-shadow: 0px 3px 27px -2px rgba( 0, 0, 0, 0.18 );
		box-shadow: 0px 3px 27px -2px rgba( 0, 0, 0, 0.18 );
	}
}

.wp-block-instagram-photo-media,
.wp-block-instagram-photo-content {
	@extend %col-sm-half;
}

.wp-block-instagram-photo-media {
	position: relative;

	&::after {
		background-image: linear-gradient( transparentize( $color-grayscale-f, 1 ), $color-grayscale-f );
		bottom: 0;
		content: '';
		height: 40%;
		position: absolute;
		width: 100%;
		z-index: 2;

		@include breakpoint( $sm ) {
			background-image: linear-gradient( to right, transparentize( $color-grayscale-f, 1 ), $color-grayscale-f );
			bottom: auto;
			top: 0;
			height: 100%;
			width: 40%;
			right: 0;

		}
	}
}

.wp-block-instagram-photo-image {
	@supports ( object-fit: cover ) {
		object-fit: cover;
	}

	img {
		width: 100%;
	}
}

.wp-block-instagram-photo-content {
	@extend %icon-instagram-alt;
	position: relative;

	&::before {
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 50px;
		z-index: 3;
		top: -40px;
		margin: 0;

		@include breakpoint( $sm ) {
			@include center-children;
			font-size: 70px;
			left: -40px;
			align-self: center;
			right: auto;
			top: 0;
			bottom: 0;
		}
	}

	@include breakpoint( $sm ) {
		@include center-children;
	}
}

.wp-block-instagram-photo-caption {
	color: $color-grayscale-a;
	padding: 30px;

	@include breakpoint( $sm ) {
		padding: 60px;
	}

	p:last-of-type {
		margin: 0;
	}

	strong {
		color: $color-grayscale-1;
	}
}

// gallery-specific styles

.wp-block-instagram-photo-gallery-title {
	text-align: center;
	padding-top: 10px;
}

.wp-block-instagram-photo-gallery-navigation {
	border-top: 1px solid $color-grayscale-e;
	clear: both;
	width: 100%;
}

.wp-block-instagram-photo-gallery-nav {
	@extend %remove-list-styles;
	@extend %clearfix;
}

.wp-block-instagram-photo-gallery-nav {
	@extend %clearfix;
	border: 1px solid $color-grayscale-c;
	border-width: 1px 0;

	@include breakpoint( $sm ) {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	a {
		color: $color-grayscale-1;
		float: left;
		font-size: 22px;
		padding: 14px 16px;
		text-align: center;

		&::before {
			margin-right: 0 !important;
			padding-top: 2px;
		}
	}

	.nav-next-icon {
		@extend %icon-navigateright;
		border-left: 1px solid $color-grayscale-c;
		float: right;
	}

	.nav-prev-icon {
		@extend %icon-navigateleft;
		border: 1px solid $color-grayscale-c;
		border-width: 0 1px 0 0;

		@include breakpoint( $sm ) {
			border-width: 0 1px;
		}
	}

	.previous-nav-label {
		@extend %visually-hidden;
	}
}
