<figure class="wp-block-global-buniverse {{modifier_class}}">
	<div class="wp-block-global-buniverse-wrapper">
		<iframe src="//www.bu.edu/buniverse/interface/embed/embed.html?v=CSe7S24N&controls=1&showinfo=0&rel=0&autoplay=1&mute=1&start=148" frameborder="0"></iframe>
	</div>
	<figcaption></figcaption>
</figure>