// =================================================================
// BUniverse Block Base Styles
// TODO: Should this be in Responsive Foundation?
// =================================================================

@import 'src/global/bu-blocks-config';
@import 'src/blocks/buniverse/bu-blocks-block-buniverse-base';
@import 'src/blocks/buniverse/bu-blocks-block-buniverse-themeable';


// Default styles which apply to all instances of
// this block, regardless of where it shows up,
// go here. BUniverse CSS for guidance purposes only,
// do not use in production.

// BUniverse Block
//
// This is a BUniverse Block, It's a means of easily embedding and modifying a BUniverse video with several without having to use or edit an embed code.
//
// Status: In-Progress
//
// Markup: bu-blocks-block-buniverse.hbs
//
// .has-aspectratio-16by9		 - 16:9 aspect ratio
// .has-aspectratio-4by3		 - 4:3 aspect ratio
// .has-aspectratio-1by1		 - 1:1 aspect ratio
// .has-aspectratio-3by4		 - 3:4 aspect ratio
// .has-aspectratio-9by16		 - 9:16 aspect ratio
//
// Styleguide Blocks.Global.BUniverse