// =================================================================
// Collapsible Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-editorial-collapsible {

	.bu-block-collapsible-content {
		display: none;
	}

	.bu-block-collapsible-toggle {
		display: block;
		width: 100%;
		margin: 0 0 1.5em;
		padding: 0;
		background-color: transparent;
		text-align: left;
		appearance: none;
	}

	.bu-collapsible-heading {
		position: relative;
		margin-bottom: 0;

		&:after {
			content: '+';
			position: absolute;
			right: 0;
			top: 50%;
			font-family: 'bu-default-icons';
			font-size: 16px;
			transform: translateY( -50% );
		}

	}

	&.is-open {

		& > .bu-block-collapsible-content {
			display: block;
		}

		& > .bu-block-collapsible-toggle .bu-collapsible-heading:after {
			content: '-';
		}

	}

}
