/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// Open state, when block is selected or has a child block selected
.wp-block.is-selected > .wp-block-editorial-collapsible,
.wp-block.has-child-selected > .wp-block-editorial-collapsible {

	& > .bu-block-collapsible-content {
		display: block;
	}

	& > .bu-block-collapsible-toggle .bu-collapsible-heading::after {
		content: '\002D';
	}

	&.icon-style-arrows > .bu-block-collapsible-toggle .bu-collapsible-heading::after {
		content: '\F501';
	}

}

.wp-block-editorial-collapsible {

	.bu-collapsible-heading {
		margin-top: 0;
	}

	.bu-block-collapsible-content {
		margin-left: 10px;
		padding-left: 15px;
		border-left: 3px solid #ddd;
	}

}
