/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import '../../tools';



// Open state, when block is selected or has a child block selected
.wp-block-bu-collapsible.is-selected,
.wp-block-bu-collapsible.has-child-selected {

	& > .bu-block-collapsible-content {
		display: block;
		padding: 5px 20px;
		height: auto; //Override is-style-preview value.
		overflow: auto; //Override is-style-preview value.
		position: static; //Override is-style-preview value.

		&:after {
			display: none; //Override is-style-preview value.
		}
	}

	& > .bu-collapsible-heading {
		display: block;
		border-bottom: 1px solid #ccc;
	}

	&.is-style-preview .bu-collapsible-heading {
		border-bottom: 0;
	}
}

.wp-block-bu-collapsible {

	.bu-collapsible-heading {
		margin: 0;
	}

	&.is-style-preview {
		border: none;
		position: relative;
		margin-bottom: $margin;

		.bu-block-collapsible-content {
			padding: 0;
			display: block;
			height: 100px;
			overflow: hidden;
			position: relative;

			&:after {
				content:'';
				height: 50%;
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				background-image: linear-gradient(to bottom, transparent, #fff);
			}
		}
	}
}
