// =================================================================
// Collapsible Block Base Styles
// =================================================================

@import 'src/global/bu-blocks-config';
@import 'src/blocks/collapsible/bu-blocks-block-collapsible-base';
@import 'src/blocks/collapsible/bu-blocks-block-collapsible-themeable';


// Default styles which apply to all instances of
// this block, regardless of where it shows up,
// go here. Sample CSS for guidance purposes only,
// do not use in production.
