// The final Blocks configuration map.
// Controls all defaults, and can either be modified
// via a $blocks-config-theme map, or overridden
// altogether by defining your own $blocks-config
// in your custom theme. This can be useful if you
// need to redeclare or regenerate multiple themes
// for a single Blocks element in the same stylesheet.

$blocks-config: ();

// Defaults for $blocks-config. Overrideable by themes.
// Set to null for if plugin should inherit from Responsive Framework Stylesheet
// If set to null that property won't be output until overridden in child theme or block override

$blocks-defaults: (
	scope: 							wp,

	color-body: 					$color-grayscale-f,
	color-page: 					$color-grayscale-f,

	color-gray-a: 					null,
	color-gray-b: 					null,
	color-gray-c: 					null,
	color-gray-d: 					null,
	color-gray-e: 					$color-grayscale-e,
	color-gray-f: 					#f5f6fa,

	color-primary: 					$color-grayscale-6,
	color-primary-text: 			$color-grayscale-6,
	color-secondary: 				$color-grayscale-6,
	color-secondary-text: 			$color-grayscale-6,
	color-tertiary: 				$color-grayscale-6,
	color-tertiary-text: 			$color-grayscale-6,
	color-quaternary: 				$color-grayscale-6,
	color-quaternary-text: 			$color-grayscale-6,
	color-quinary: 					$color-grayscale-6,
	color-quinary-text: 			$color-grayscale-6,

	color-tint:						null,

	font-family-primary: 			null,
	font-family-secondary: 		 	null,
	font-family-tertiary: 			null,

	font-color-base: 				null,
	font-color-heading: 			null,
	font-color-heading-small: 		null,
	font-color-link: 				null,
	font-color-link-active: 		null,
	font-color-link-visited: 		null,
	font-color-aside:				$color-grayscale-4,
	font-color-aside-lighter:		$color-grayscale-6,

	font-color-theme-dark:			$color-grayscale-f,

	background-color-light: 		$color-grayscale-f,
	background-color-dark:			$color-grayscale-0,
	background-color-default:		$color-grayscale-f,

	border-radius:					   0,
);

// Merge defaults with the final map.

$blocks-config: map-merge( $blocks-defaults, $blocks-config );

// Allow themes to override defaults.

@if variable-exists( blocks-config-theme ) {
	$blocks-config: map_merge( $blocks-config, $blocks-config-theme );
}

