%media-crop-cover {
	[class*="wp-block-"][class*="-media"] {
		img,
		video {
			object-fit: cover;
			object-position: 25% 25%;
		}
	}

	&.has-media-focus-left-top {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 25% 25%;
			}
		}
	}

	&.has-media-focus-left-middle {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 25% 50%;
			}
		}
	}

	&.has-media-focus-left-bottom {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 25% 75%;
			}
		}
	}

	&.has-media-focus-center-top {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 50% 25%;
			}
		}
	}

	&.has-media-focus-center-middle {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 50% 50%;
			}
		}
	}

	&.has-media-focus-center-bottom {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 50% 75%;
			}
		}
	}

	&.has-media-focus-right-top {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 75% 25%;
			}
		}
	}

	&.has-media-focus-right-middle {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 75% 50%;
			}
		}
	}

	&.has-media-focus-right-bottom {
		[class*="wp-block-"][class*="-media"] {
			img,
			video {
				object-fit: cover;
				object-position: 75% 75%;
			}
		}
	}
}
