<article class="wp-prepress-layout-article-content">
	<div class="bu-blocks-slideshow {{modifier_class}}">
		<div class="bu-blocks-slideshow-media-container">
			<div class="back"></div>
			<div class="forward"></div>
			<ul class="bu-blocks-slideshow-media-track" style="width: calc(3 * 100%); left: -100%">
				<li class="bu-blocks-slideshow-media bu-blocks-slideshow-media-001"  style="width: calc(1 / 3 * 100% - 2px)">
					<div class="bu-blocks-slideshow-media-backfill" style="background-image: url('https://picsum.photos/500/500')"></div>
					<img class="bu-blocks-slideshow-media-actual" src="https://picsum.photos/500/500">
				</li>
				<li class="bu-blocks-slideshow-media bu-blocks-slideshow-media-002 bu-blocks-slideshow-media-active"  style="width: calc(1 / 3 * 100% - 2px)">
					<div class="bu-blocks-slideshow-media-backfill" style="background-image: url('https://picsum.photos/640/480')"></div>
					<img class="bu-blocks-slideshow-media-actual" src="https://picsum.photos/640/480">
				</li>
				<li class="bu-blocks-slideshow-media bu-blocks-slideshow-media-003"  style="width: calc(1 / 3 * 100% - 2px)">
					<div class="bu-blocks-slideshow-media-backfill" style="background-image: url('https://picsum.photos/480/640')"></div>
					<img class="bu-blocks-slideshow-media-actual" src="https://picsum.photos/480/640">
				</li>
			</ul>
		</div>
		<div class="bu-blocks-slideshow-caption-container bu-blocks-slideshow-caption-container-collapsed">
			<ul class="bu-blocks-slideshow-caption-track" style="width: calc(3 * 100%); left: -100%">
				<li class="bu-blocks-slideshow-caption bu-blocks-slideshow-caption-001" style="width: calc(1 / 3 * 100%)">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
				</li>
				<li class="bu-blocks-slideshow-caption bu-blocks-slideshow-caption-002 bu-blocks-slideshow-caption-active" style="width: calc(1 / 3 * 100%)">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				</li>
				<li class="bu-blocks-slideshow-caption bu-blocks-slideshow-caption-003"  style="width: calc(1 / 3 * 100%)">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
				</li>
			</ul>
			<div class="bu-blocks-slideshow-caption-expander"><span class="icon-navigatedown"></span> read full caption</div>
		</div>
		<div class="bu-blocks-slideshow-controls">
			<div class="bu-blocks-slideshow-controls-previous"><span class="icon-navigateleft"></span></div>
			<div class="bu-blocks-slideshow-controls-next"><span class="icon-navigateright"></span></div>
		</div>
	</div>
</article>