// =================================================================
// Slideshow Block Base Styles
// =================================================================

@import 'src/global/bu-blocks-config';
@import 'src/blocks/slideshow/bu-blocks-block-slideshow-base';
@import 'src/blocks/slideshow/bu-blocks-block-slideshow-themeable';


// Default styles which apply to all instances of
// this block, regardless of where it shows up,
// go here. Sample CSS for guidance purposes only,
// do not use in production.

// Slideshow Block
//
// This is an button Block, you can use this as a b
//
// Status: In-Progress
//
// Markup: bu-blocks-block-slideshow.hbs
//
// .has-crop - Crops images to fit slideshow
// .has-shownextup - next image peeks into frame by default
// .has-aspectratio-16by9 - 16:9 aspect ratio
// .has-aspectratio-4by3 - 4:3 aspect ratio
// .has-aspectratio-1by1 - 1:1 (square) aspect ratio
// .has-aspectratio-3by4 - 3:4 aspect ratio
// .has-aspectratio-9by16 - 9:16 aspect ratio
//
// Styleguide Blocks.Global.Slideshow


