// =================================================================
// Photo Essay Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-photoessay {
	[class*="wp-block-"][class*="-media"] {
		position: relative;
		width: 50%;
		img,
		video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
