<div class='wp-block-prebuilt-layout'>
	<div class='wp-block-prebuilt-layout__inner-container'>
		<div class='wp-block-prebuilt-segment'>x</div>
		<div class='wp-block-prebuilt-segment'>x</div>
		<div class='wp-block-prebuilt-segment'>x</div>
		<div class='wp-block-prebuilt-segment'>x</div>
	</div>
</div>

<div class='wp-block-prebuilt-layout'>
	<div class='wp-block-prebuilt-layout__inner-container'>
		<div class='wp-block-prebuilt-segment'>x</div>
		<div class='wp-block-prebuilt-segment'>x</div>
		<div class='wp-block-prebuilt-segment'>x</div>
		<div class='wp-block-prebuilt-segment'>x</div>
	</div>
</div>