// =================================================================
// Hero Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//
%leadin-image-height-small {
	.container-image {
		height: 320px;
		@include breakpoint( $xs ) {
			height: 400px;
		}
		@include breakpoint( $sm ) {
			height: 480px;
		}
		@include breakpoint( $md ) {
			height: 560px;
		}
		@include breakpoint( $lg ) {
			height: 640px;
		}
	}
}
%leadin-image-height-medium {
	.container-image {
		height: 400px;
		@include breakpoint( $xs ) {
			height: 480px;
		}
		@include breakpoint( $sm ) {
			height: 560px;
		}
		@include breakpoint( $md ) {
			height: 640px;
		}
		@include breakpoint( $lg ) {
			height: 720px;
		}
	}
}
%leadin-image-height-large {
	.container-image {
		height: 320px;
		@include breakpoint( $xs ) {
			height: 560px;
		}
		@include breakpoint( $sm ) {
			height: 640px;
		}
		@include breakpoint( $md ) {
			height: 720px;
		}
		@include breakpoint( $lg ) {
			height: 800px;
		}
	}
}
%leadin-text-over-image-base {
	@include breakpoint( $xs ) {
		.container-lockup {
			position: relative;
		}
		.container-words-outter {
			position: absolute;
			top: 0;
			height: 100%;
			display: flex;
			align-items: center;
			padding-left: $padding;
			padding-right: $padding;
		}
		.container-words-inner{
			margin-left: auto;
			margin-right: auto;
		}
	}
}
$masthead-off-set: 132px !default;
$masthead-off-set-xs: 192px !default;
$masthead-off-set-sm: $masthead-off-set-xs !default;
$masthead-off-set-md: $masthead-off-set-xs !default;
$masthead-off-set-lg: $masthead-off-set-xs !default;
%masthead-off-set-calc {
	.container-image {
		img {
				height: clac( 100% + #{$masthead-off-set} );
			@include breakpoint( $xs ) {
				height: clac( 100% + #{$masthead-off-set-xs} );
			}
			@include breakpoint( $sm ) {
				height: clac( 100% + #{$masthead-off-set-sm} );
			}
			@include breakpoint( $md ) {
				height: clac( 100% + #{$masthead-off-set-md} );
			}
			@include breakpoint( $lg ) {
				height: clac( 100% + #{$masthead-off-set-lg} );
			}
		}
	}
}
.wp-block-leadin {
	h1,
	h2,
	h3,
	h4 {
		margin:0 0 0.25em ;
	}
	.container-words-inner {
		margin-top: 2em;
		margin-bottom: 2em;
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.container-image {
		@include transition( height 500ms ease-in-out 0s );
		position: relative;
		box-sizing: content-box;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&.is-style-text-to-image {
		@extend %leadin-image-height-small;
		.container-lockup {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
		}
		.container-image {
			-ms-flex-order: 2;
			order: 2;

		}
		.container-words-outter {
			-ms-flex-order: 1;
			order: 1;
		}
	}
	&.is-style-image-to-text {
		@extend %leadin-image-height-medium;
	}
	&.is-style-emphasis-on-text {

		$shadow-width: 50px;

		@extend %leadin-image-height-medium;
		position: relative;
		padding-bottom: 80px;

		&:not(.has-box) {
			.container-lockup {
				@include breakpoint( $xs ) {
					padding-bottom: 140px;
				}
				@include breakpoint( $md ) {
					padding-bottom: 70px;
				}
			}
		}
		&.has-box {
			.container-lockup {
				@include breakpoint( $xs ) {
					padding-bottom: 140px;
				}
				@include breakpoint( $sm ) {
					padding-bottom: 70px;
				}
			}
		}
			.container-words-outter {
				@include breakpoint( $sm ) {
				}
			}
		&:not(.has-box) {
			.container-words-outter {
				@include breakpoint( $xs ) {
					position: absolute;
					bottom: 0;
					&::before,
					&::after  {
						content: " ";
					}
				}
				&::before,
				&::after  {
					background: linear-gradient( 70deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.125) 100%);
					position: absolute;
					bottom: 0;
					width: $shadow-width;
					height: 140px;
					@include breakpoint( $sm ) {
						bottom: 0;
					}
					@include breakpoint( $md ) {
						bottom: -70px;
					}
				}
				&::before {
					left: calc( 0px - #{$shadow-width} + #{$padding} );
				}
				&::after {
					right: calc( 0px - #{$shadow-width} + #{$padding} );
					@include scale( -1, 1 );
				}
			}
			.container-words-inner {
				padding-top: 2em;
			}
		}
		&.has-box {
			@include breakpoint( $xs ) {
				.container-words-outter {
					position: absolute;
					bottom: 0;
				}
				.container-words-inner {
					padding-top: 2em;
					padding-bottom: 2em;
					padding-left: $padding * 2;
					padding-right: $padding * 2;
				}
			}
		}
		.container-words-inner {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&.is-style-text-over-image-boxed {
		@extend %leadin-image-height-large;
		@extend %leadin-text-over-image-base;
	}
	&.is-style-text-over-image-tinted {
		@extend %leadin-image-height-large;
		@extend %leadin-text-over-image-base;
	}
	&.is-style-side-by-side {}
	&:not(.is-style-side-by-side) {
		.container-lockup {
			text-align: center;
		}
	}
	&.has-image-focus-left-top {
		img {
			object-position: 25% 25%;
		}
	}
	&.has-image-focus-left-middle {
		img {
			object-position: 25% 50%;
		}
	}
	&.has-image-focus-left-bottom {
		img {
			object-position: 25% 75%;
		}
	}
	&.has-image-focus-center-top {
		img {
			object-position: 50% 25%;
		}
	}
	&.has-image-focus-center-middle {
		img {
			object-position: 50% 50%;
		}
	}
	&.has-image-focus-center-bottom {
		img {
			object-position: 50% 75%;
		}
	}
	&.has-image-focus-right-top {
		img {
			object-position: 75% 25%;
		}
	}
	&.has-image-focus-right-middle {
		img {
			object-position: 75% 50%;
		}
	}
	&.has-image-focus-right-bottom {
		img {
			object-position: 75% 75%;
		}
	}
}

$metabar-layout-switch: $md !default;

.metabar-outter {
	margin-top: 2em;
	margin-bottom: 2em;
}
.metabar-inner {
	border-top: 1px solid;
	border-bottom: 1px solid;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
	@include breakpoint( $metabar-layout-switch ) {
		flex-wrap: nowrap;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	> * {
		@extend %row-child-styles;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		@include breakpoint( $metabar-layout-switch ) {
			border-right: 1px solid;
			width: auto;
		}
		&:last-child {
			border-width: 0;
		}
	}
	.date,
	.comments,
	.share {
		@include breakpoint( $metabar-layout-switch ) {
			display: flex;
			align-items: center;
		}
	}
	.date {
		width: 100%;
		@include breakpoint( $metabar-layout-switch ) {
			width: auto;
			white-space: nowrap;
			padding-left: 0;
		}
	}
	.comments {
		white-space: nowrap;
		-ms-flex-order: 3;
		text-align: right;
		order: 3;
		width: 50%;
		a {
			text-decoration: none;
		}
		&:after{
			content: " Comments";
		}
		@include breakpoint( $metabar-layout-switch ) {
			width: auto;
			-ms-flex-order: unset;
			order: unset;
			&:after{
				content: none;
			}
		}
	}
	.credits {
		flex-grow: 2;
		text-align: center;
		width: 100%;
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
		@include breakpoint( $metabar-layout-switch ) {
		border-top: none;
		border-bottom: none;
			text-align: left;
			width: auto;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			display: inline-block;
			&:empty {
				display: none;
			}
		}
		li {
			display: inline-block;
			list-style: none;
			&:after {
				content: ",";
			}
		
			&:nth-last-of-type(1) {
				&:before {
					content: "& "
				}
				&:after {
					content: ""
				}
			}
			&:nth-of-type(1) {
				&:before {
					content: ""
				}
				&:after {
					content: ""
				}
			}
		}
		.writing {
			&:before {
				content: "Written by "
			}
		}
		.photo {
			&:before {
				content: "Photography by "
			}
		}
		.video {
			&:before {
				content: "Video by "
			}
		}
	}
	.share {
		text-align: left;
		-ms-flex-order: 4;
		order: 4;
		justify-content: flex-end;
		width: 50%;
		.icon-twitter, 
		.icon-facebook {
			display: none;
		}
		@include breakpoint( $metabar-layout-switch ) {
			width: unset;
			-ms-flex-order: unset;
			order: unset;
			padding-right: 0;
			.icon-twitter, 
			.icon-facebook {
				display: inline;
			}
		}
		.icon-action {
			white-space: nowrap;
			&::after {
				content: "Share This";
				@include breakpoint( $metabar-layout-switch ) {
					content: "Share";
				}
			}
		}
	}
}