// =================================================================
// Hero Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-leadin {
	&.is-style-text-to-image {
		.container-lockup {
			display: flex;
			flex-flow: column;
		}
		.container-image {
			order: 2;
		}
		.container-text {
			order: 1;
		}
	}
	&.is-style-image-to-text {}
	&.is-style-text-over-image-boxed {}
	&.is-style-text-over-image-tinted {}
	&.is-style-side-by-side {}
}