<div class="wrapper">
	<main id="main" role="main" class="content">
		<article class="content-area">

			<div class="wp-block-leadin {{modifier_class}}">
				<div class="container-lockup">
					<div class="container-image">
						<img src="http://www.bu.edu/research/wp-assets/articles/soil-fungi/images/videobg1.jpg">
						<div class="tint"></div>
					</div>
					<div class="container-words-outter">
						<div class="container-words-inner">
							<span href="http://www.bu.edu/" class="wp-prepress-tag ">Economics</span>
							<h1 class="head">Can Economics Predit This Year's World Cup Winner?</h1>
							<h3 class="deck">Maybe yes, and maybe no</h3>
						</div>
					</div>
				</div>
			</div>


			<div class="metabar-outter">
				<div class="metabar-inner">
					<div class="date">January 18, 2018</div>
					<div class="comments">
						<a href="http://www.bu.edu/" class="wp-prepress-component-comment-counter label">2</a>
					</div>
					<div class="credits">
						<ul class="writing">
							<li>Danielle Paserman</li>
						</ul>
					</div>
					<div class="share">
						<a class="icon-twitter" href=""></a>
						<a class="icon-facebook" href=""></a>
						<a class="icon-action" href=""></a>
					</div>
				</div>
			</div>


			<p>Nullam ultrices neque in quam malesuada, volutpat varius diam vulputate. Nulla facilisi. Proin pulvinar, lectus sit amet pellentesque luctus, elit arcu euismod turpis, et iaculis urna odio et nisl. Ut in molestie elit. Praesent lacinia sodales euismod. Ut consequat eleifend nulla, eu auctor nisl euismod vel. Curabitur luctus rhoncus mauris id porta. Etiam faucibus tellus non porta egestas. Praesent et tincidunt ex, ac tincidunt tortor. Vivamus ullamcorper nulla nunc, a scelerisque augue elementum vel.</p>

		</article>
	</main>
</div>
