<div class="metabar-outter">
	<div class="metabar-inner">
		<div class="date">January 18, 2018</div>
		<div class="comments">
			<a href="http://www.bu.edu/" class="wp-prepress-component-comment-counter label {{modifier_class}}">2</a>
		</div>
		<div class="credits">
			<ul class="writing">
				<li>Danielle Paserman</li>
				<li>Danielle Paserman</li>
			</ul>
			<ul class="photo">
				<li>Danielle Paserman</li>
			</ul>
			<ul class="video"></ul>
		</div>
		<div class="share">
			<a class="icon-twitter" href=""></a>
			<a class="icon-facebook" href=""></a>
			<a class="icon-action" href=""></a>
		</div>
	</div>
</div>
