/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.wp-block.editor-block-list__block[data-type="bu/leadin"],
.wp-block.block-editor-block-list__block[data-type="bu/leadin"] {
	max-width: none;

	.metabar-outter {
		max-width: 610px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 14px;
		padding-right: 14px;
	}
}

.components-panel__body-bu-leadin-block-url {
	.editor-url-input input[type="text"],
	.block-editor-url-input input[type="text"] {
		max-width: 100%;;
	}
}
