// =================================================================
// Related Stories Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-relatedstories {
	@extend %clearfix;
	max-width: 960px;
	margin: 0 auto;

	.storycards {
		@extend %col-xs-margin-parent;
		list-style-type: none;
		padding: 0;
	}

	.storycard {
		@extend %col-xs-margin-half;
		@extend %col-sm-margin-third;
		margin-bottom: 30px;
		padding: 0;
	}

	&.has-two {

		.storycard {
			@extend %col-xs-margin-half;
			padding: 0;
		}
	}
}