/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// Add a clearfix so that the wrapping container added by Gutenberg
// knows what to contain.
aside.wp-block-editorial-relatedstories:after {
	content: "";
	display: table;
	clear: both;
}
