/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block[data-type="editorial/relatedstories"] {

	// Increase max width for Card style layout only.
	&[data-style="card"] {
		max-width: 80%;

		aside.wp-block-editorial-relatedstories.is-style-card {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
	}
	// Disable links in the editor so user doesn't click and go to story.
	a {
		pointer-events: none;
	}
}

// Add a clearfix so that the wrapping container added by Gutenberg
// knows what to contain.
aside.wp-block-editorial-relatedstories:after {
	content: "";
	display: table;
	clear: both;
}

figure.wp-block-editorial-relatedstories-article-image {
	margin: 0;
}

.wp-block-editorial-relatedstories-error {
	text-align: center;
}

.panelbody-related-stories {
	.editor-url-input input,
	.block-editor-url-input input {
		max-width: 95%;
	}

	.editor-url-input ~ h3,
	.block-editor-url-input ~ h3 {
		margin: 1em 0;
		padding-left: .25em;
	}

	.panelbody-related-stories-list {
		list-style-type: circle;
		padding-left: 1.5em;
	}

	.editor-url-input input,
	.block-editor-url-input input {
		&::-webkit-input-placeholder {
			color: #fff;
		}

		&::-moz-placeholder {
			color: #fff;
		}

		&:-ms-input-placeholder {
			color: #fff;
		}

		&:-moz-placeholder {
			color: #fff;
		}
	}
}

