// =================================================================
// Listicle Styles - Configurable
// =================================================================
//
//
// Styles in this file should only be using properties that are
// in the global array ($blocks-defaults) so they can be overwritten by
// the child theme
// Examples: color, border-color, font-family
//
// Variant styles, such as "open", or an alternate layout should be declared here
// as shown below IF that variant needs to modify one of the properties that
// can be overwritten via the array. This lets the child theme overwrite that
// as well.
//
// If you aren't using styles from the global array ($blocks-defaults) by
// using blocks-get() it doesn't belong in this file as it will be printed
// in the stylesheet multiple times (for each publication)
//

$blocks-block-listicle-config: ();

// use the above array if you need to override the global $blocks-defaults array
// of styles ONLY for this block IN the plugin.
// You can then override THIS array by using $blocks-block-listicle-theme in the child theme to
// override this array
//
// Remember, with great power comes great responsibility. This should not be used unless
// you really need it. Think carefully about why you aren't modifying the global config by adding
// a different variable.
//
// $blocks-block-listicle-config: (
// 		primary-color:red,
// 		secondary-color: rebeccapurple,
// );


// Use the default Blocks configuration. You can override this globally
// in a theme.

$blocks-block-listicle-config: map-merge( $blocks-block-listicle-config, $blocks-config );

// This allows themes to optionally set theme options for this
// block only. You can set all or a few options - only the options
// you set in $block-block-listicle-theme will override the defaults.

@if variable-exists( blocks-block-listicle-theme ) {
	$blocks-block-listicle-config: map_merge( $blocks-block-listicle-config, $blocks-block-listicle-theme );
}

// A global helper variable for the block-get mixin.

$current-map: $blocks-block-listicle-config;


$scope: blocks-get( 'scope' );

.#{$scope}-block-editorial-listicle {

	.wp-block-editorial-listicle-header-number {
		color: blocks-get( 'color-primary-text' );
		margin-bottom: 0;
	}

	.wp-block-editorial-listicle-header-content-hed {
		color: blocks-get( 'color-gray-a' );

		strong {
			color: blocks-get( 'color-primary-text' );
		}
	}

	&.has-number {

		.wp-block-editorial-listicle-header-content-hed {

			strong {
				color: blocks-get( 'color-gray-a' );
			}
		}
	}

	.wp-block-editorial-listicle-header-content-dek {
		color: blocks-get( 'color-gray-b' );
	}

	.wp-block-editorial-listicle-footer-title {
		font-family: blocks-get( 'font-family-tertiary' )
	}

	.wp-block-editorial-listicle-section-content,
	.wp-block-editorial-listicle-section-aside,
	.wp-block-editorial-listicle-section-aside,
	.wp-block-editorial-listicle-footer-list {

		a {
			color: blocks-get( 'color-tertiary' );
		}
	}

	.wp-block-editorial-listicle-section-meta {

		.icon-action {
			font-family: blocks-get( 'font-family-tertiary' );
			font-size: 0.9em;
			text-decoration: none;
			text-transform: uppercase;

			&::before {
				font-size: 1.1em;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
