/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
[data-type="editorial/listicle"] {
	.wp-block-editorial-listicle {
		.wp-block-editorial-listicle-figure .wp-caption-text textarea {
			text-align: right;
		}

		.wp-block-editorial-listicle-header-number {
			min-width: 20px;
			line-height: 1.0em;
			font-size: 4em;
			font-weight: 300;
			margin-top: 0;
			

			textarea {
				//max-height: 1.2em;
				//min-height: 1.2em;

				&:empty {
					font-weight: 300;
					line-height: 1.8;
					//max-height: 1.8em;
					//min-height: 1.8em;
				}
			}
		}

		.wp-block-editorial-listicle-header-content-hed {
			margin-top: 0;
			margin-bottom: 0;
		}
		.wp-block-editorial-listicle-header-content-dek {
			margin: 5px 0 0;
		}
		.wp-block-editorial-listicle-section-aside {
			p {
				margin-top: 0;
			}
		}

	
		&:not(.has-sidebar) .wp-block-editorial-listicle-section-aside {
			padding-left: 0;
			width: 100%;
		}

		&:not(.has-number) .wp-block-editorial-listicle-header-number {
			font-size: 16px;
		}
	}
}