// =================================================================
// Sample Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-editorial-aside {
	@extend %col-full;
	@extend %col-sm-quarter;
	background: darken( $color-grayscale-f, 8%);
	float: right;
	margin: 10px 0 40px;
	padding: 30px 20px 40px 20px;
	text-align: center;

	@include breakpoint( $sm ) {
		margin: 0 -10px 20px 30px;
	}

	h2 {
		@extend %font-size-4;
		font-family: $font-family-base;
		margin-top: 0;
	}

	p,
	.call-to-action {
		font-family: $font-family-sans-serif;
		font-size: 16px;
	}

	p {
		color: $color-grayscale-6;
		margin: 0 0 1em 0;
	}

	.call-to-action {
		@extend %icon-navigateright;
		font-weight: 700;
		text-transform: uppercase;

		&::before {
			color: $color-grayscale-8;
		}
	}
}

.is-layout-long {
	@extend %col-sm-third;
	text-align: left;

	@include breakpoint( $sm ) {
		float: right;
		margin-right: -100px;
	}
}

.is-left-aligned {
	float: left;

	@include breakpoint( $sm ) {
		margin: 0 30px 20px -40px;
	}
}

.has-dark-background {
	h2 {
		color: $color-editorial-gray-f;
	}
}

.has-primary-background {
	h2,
	p,
	.call-to-action {
		color: $color-editorial-gray-f;
	}
}

