/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-editorial-aside  {
	@extend %col-full;
	@extend %col-sm-quarter;
	background: darken( $color-grayscale-f, 10%);
	padding: 20px;

	h2 {
		@extend %font-size-4;
		font-family: $font-family-base;
	}

	p,
	.call-to-action {
		font-family: $font-family-sans-serif;
	}

	p {
		margin: 0 0 1em 0;
	}

	.call-to-action {
		font-weight: 700;
		text-transform: uppercase;
	}
}