// =================================================================
// Intro Pullquote Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-pullquote {
	position: relative;
	min-height: 5em;
	background-size: 0%;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	hr {
		margin: 2em 0;
	}
	blockquote {
		margin: 0;
		padding: 1em 0px;
		position: relative;
		z-index: 3;
		overflow: hidden;
	}
	.graphic {
		background-repeat: no-repeat;
		background-size: 0%;
		&:not(.is-style-modern) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.tint {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background: none;
		}
	}
	.wp-block-pullquote-image {
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&:not(.is-style-modern):not(.is-style-pop) {
		blockquote {
			padding: 0.001em 0;
			margin: 0 3em;
			&::before,
			&::after {
				box-sizing: content-box;
				display: block;
				font-size: 4em;
				height: 0.5em;
				left: 50%;
				line-height: 1em;
				margin-left: -0.5em;
				overflow: hidden;
				position:absolute;
				text-align: center;
				width: 1em;
			}
			&::before {
				content: '“';
				top: 0.25em;
			}
			&::after {
				content: '”';
				bottom: 0.25em;
			}
			hr {
				background: none;
				border: none;
				height: 1px;
				position: relative;
				&::before,
				&::after {
					content: '';
					background: #000;
					display: block;
					position: absolute;
					width: calc(50% - 3em);
					top: 0;
					bottom: 0;
				}
				&::before {
					left: 0;
				}
				&::after {
					right: 0;
				}
			}
		}
	}
	&:not(.is-style-modern) {
		blockquote {
		}
	}
	&.has-image {
		.graphic {
			background-size: cover;
			background-position-x: 50%;
			background-position-y: 50%;
		}
	}
	&.is-style-image-x-left {
		.graphic {
			background-position-x: 25%;
		}
	}
	&.is-style-image-x-center {
		.graphic {
			background-position-x: 50%;
		}
	}
	&.is-style-image-x-right {
		.graphic {
			background-position-x: 75%;
		}
	}
	&.is-style-image-y-top {
		.graphic {
			background-position-y: 25%;
		}
	}
	&.is-style-image-y-middle {
		.graphic {
			background-position-y: 50%;
		}
	}
	&.is-style-image-y-bottom {
		.graphic {
			background-position-y: 75%;
		}
	}
	&.is-style-modern,
	&.is-style-pop {
		&:not(.alignwide):not(.alignfull) {
			blockquote {
				margin-top: 3em;
				margin-bottom: 3em;
			}
			hr {
				display: none;
			}
		}
	}
	&.is-style-modern {
		overflow: hidden;
		.graphic {
			width: 5em;
			display: inline-block;
			position: absolute;
			&::before,
			&::after {
				display: inline-block;
				vertical-align: middle;
				position: relative;
			}
			&::before {
				content: '“';
				font-size: 5em;
				line-height: 1.5em;
				height: 1em;
				z-index: 2;
			}
			&::after{
				content: '';
				height: 100%;
			}
			@include breakpoint( $xs ) {
				width: 10em;
				&::before {
					font-size: 10em;
				}
			}
		}
		blockquote {
			width: calc(100% - 5em);
			margin-left: auto;
			padding: 0 1em;
			@include breakpoint( $xs ) {
				width: calc(100% - 10em);
			}
		}
	}
	&.is-style-pop {
		.graphic {
			&::before {
				content: '“';
				font-size: 30em;
				line-height: 1.5em;
				height: 1em;
				z-index: 2;
				top: -0.5em;
				left: 0;
				position: absolute;
			}
		}
		blockquote {
			width: calc(100% - 5em);
			margin-left: auto;
			padding: 0 1em;
			@include breakpoint( $xs ) {
				width: calc(100% - 10em);
			}
		}
		&.alignwide,
		&.alignfull {
			.graphic {
				&::before {
					top: 50%;
					margin-top: -0.5em;
				}
			}
		}
	}
	.tint {
		display: none;
	}
	&.has-tint {
		.tint {
			display: block;
		}
	}
}