// =================================================================
// Intro Pullquote Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-pullquote {
	text-align: center;
	hr {
		margin: 2em 0;
	}
	blockquote {
		margin: 0;
		padding: 1em 0px;
		position: relative;
	}
	&:not(.is-style-modern):not(.is-style-pop) {
		blockquote {
			padding: 0.001em 0;
			&::before,
			&::after {
				background: #fff;
				box-sizing: content-box;
				display: block;
				font-size: 4em;
				height: 0.5em;
				left: 50%;
				line-height: 1em;
				margin-left: -0.5em;
				overflow: hidden;
				position:absolute;
				text-align: center;
				width: 1em;
			}
			&::before {
				content: '“';
				top: 0.25em;
			}
			&::after {
				content: '”';
				bottom: 0.25em;
			}
		}
	}
}