<div class="wp-block-pullquote {{modifier_class}}">
	<blockquote>
		<hr>
		<div class="graphic">
			<img src="">
		</div>
		That's one small step for man, one giant leap for mankind.
		<footer>— <a href="">Neil ArmStrong</a></footer>
		<hr>
	</blockquote>
</div>