<div class="wp-block-pullquote {{modifier_class}}">
	<div class="graphic" style="background-image: url(https://www.groundprobe.com/wp-content/uploads/2017/01/background-placeholder-3.jpg)">
		<div class="tint" style="opacity: 0.5"></div>
	</div>
	<blockquote>
		<hr>
		“That's one small step for man, one giant leap for mankind.”
		<footer>— <a href="">Neil ArmStrong</a></footer>
		<hr>
	</blockquote>
</div>