/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-editorial-pullquote {
	border-bottom: none;
	border-top: none;
	padding: 0;
	position: relative;

	.block-editor__container & img {
		height: 100%;
	}
}