// =================================================================
// Story Card Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-component-editorial-storycard {
	position: relative;

	.wp-block-component-editorial-storycard-image {

		img {
			height: auto;
			width: 100%;
		}
	}

	.wp-block-component-editorial-storycard-category {
		position: absolute;
		top: 15px;
		left: 12px;

		span {
			background: $color-grayscale-0;
			color: $color-grayscale-f;
			padding: 5px;
			text-transform: uppercase;
		}
	}

	.wp-block-component-editorial-storycard-title {
		@extend %font-size-3;
	}

	.wp-block-component-editorial-storycard-link {

		&::after {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.wp-block-component-editorial-storycard-date {
		font-size: 1em;
		margin-bottom: 0.5em;
	}

	&.has-photo-background {

		.wp-block-component-editorial-storycard-image {
			background: $color-grayscale-0;
			height: 100%;
			position: absolute;
			width: 100%;

			img {
				@include opacity( .5 );
				@supports (object-fit: cover) {
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.wp-block-component-editorial-storycard-content {
			padding: 75px 30px 30px;
			position: relative;
			width: 100%;
			z-index: 1;
		}

		.wp-block-component-editorial-storycard-title,
		.wp-block-component-editorial-storycard-date {
			color: $color-grayscale-f;
		}
	}
}