// =================================================================
// Sotry Card Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-storycard {
	display: flex;
	flex-direction: column;
	position: relative;

	.story-image {

		img {
			height: auto;
			width: 100%;

			@supports (object-fit: cover) {
				object-fit: cover;
				height: 175px;
			}

			@include breakpoint( $xs ) {

				@supports (object-fit: cover) {
					height: 250px;
				}
			}

			@include breakpoint( $sm ) {

				@supports (object-fit: cover) {
					height: 350px;
				}
			}
		}
	}

	.story-category {
		left: 10px;
		position: absolute;
		top: 12px;

		span {
			background: $color-grayscale-3;
			color: $color-grayscale-f;
			font-family: $font-family-sans-serif;
			font-size: 0.8em;
			padding: 5px;
			text-transform: uppercase;
		}
	}

	.story-title {
		@extend %font-size-2;
	}

	.story-link {
		color: $color-link;

		&::after {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.story-date {
		@extend %font-size-6;
		text-transform: uppercase;
		color: $color-heading-small;
	}

	.story-share {
		font-family: $font-family-sans-serif;
		font-size: 0.7em;
		text-transform: uppercase;
	}
}