<article class="wp-block-storycard {{modifier_class}}">
	<figure class="story-image">
		<img src="https://via.placeholder.com/300" srcset="https://via.placeholder.com/1024 1024w, https://via.placeholder.com/1600 1600w" alt="placeholder">
	</figure>
	<div class="story-category"><span>Category</span></div>
	<h4 class="story-title"><a href="#" class="story-link">Lorem ipsum dolor sit amet, consectetur</a></h4>
	<h5 class="story-date">January 15, 2018</h5>
	<div class="story-share">Shared from <span class="story-share-logo">BU Today</span></div>
</article>
