<article class="wp-block-storycard {{modifier_class}}">
	<figure class="wp-block-storycard-image">
		<img src="http://placekitten.com/300/300" srcset="http://placekitten.com/1024/1024 1024w, http://placekitten.com/1600/1600 1600w" alt="placeholder">
	</figure>
	<div class="wp-block-storycard-content">
		<p class="wp-block-storycard-category"><span>Category</span></p>
		<h4 class="wp-block-storycard-title"><a href="#" class="wp-block-storycard-link">Lorem ipsum dolor sit amet, consectetur</a></h4>
		<p class="wp-block-storycard-date">January 15, 2018</p>
	</div>
</article>
