<article class="wp-block-storycard {{modifier_class}}">
	<figure class="storyimage">
		<img src="http://placekitten.com/300/300" srcset="http://placekitten.com/1024/1024 1024w, http://placekitten.com/1600/1600 1600w" alt="placeholder">
	</figure>
	<div class="storycontent">
		<p class="storycategory"><span>Category</span></p>
		<h4 class="storytitle"><a href="#" class="storylink">Lorem ipsum dolor sit amet, consectetur</a></h4>
		<p class="storydate">January 15, 2018</p>
	</div>
</article>
