.bu-blocks-sidebar-linkcontrol-popover-dropdown {
	display: block;
}

.bu-blocks-sidebar-linkcontrol-button-container {
	display: flex;
    gap: 8px;
    align-items: center;
    margin-block: 12px;
}

.bu-blocks-sidebar-linkcontrol-button-text-container {
	border-top: 1px solid #ddd;
	margin-inline: -12px; // pop out full width of the popover compontent content div.

	.bu-blocks-sidebar-linkcontrol-button-text-field {
		margin: 16px;
	}
}

