<div class="wp-block-stats butoday-block-stats has-1-stats alignleft">
	<figure class="wp-block-stats-figure">
		<div class="wp-block-stats-row">
			<div class="wp-block-stat has-number-size-4 has-circle2-color-primary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-text-pre">pretext</div>
						<div class="wp-block-stat-number">1,000</div>
						<div class="wp-block-stat-text-post">post-text</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 75 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<figcaption class="wp-block-stats-caption">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing</figcaption>
	</figure>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae cursus risus mauris vitae nisi. Cras</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae cursus risus mauris vitae nisi. Cras</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae cursus risus mauris vitae nisi. Cras</p>


<div class="wp-block-stats butoday-block-stats has-1-stats">
	<figure class="wp-block-stats-figure">
		<div class="wp-block-stats-row">
			<div class="wp-block-stat has-number-size-4 has-circle2-color-primary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-text-pre">pretext</div>
						<div class="wp-block-stat-number">1,000</div>
						<div class="wp-block-stat-text-post">post-text</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 75 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<figcaption class="wp-block-stats-caption">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing</figcaption>
	</figure>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae cursus risus mauris vitae nisi. Cras</p>


<div class="wp-block-stats butoday-block-stats has-2-stats">
	<figure class="wp-block-stats-figure">
		<div class="wp-block-stats-row">
			<div class="wp-block-stat has-number-size-1 has-circle1-color-primary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">#1</div>
						<div class="wp-block-stat-text-post">a</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 0 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="wp-block-stat has-number-size-4 has-circle2-color-secondary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">1,000</div>
						<div class="wp-block-stat-text-post">b</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 75 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<figcaption class="wp-block-stats-caption">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing</figcaption>
	</figure>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae cursus risus mauris vitae nisi. Cras</p>


<div class="wp-block-stats butoday-block-stats has-3-stats">
	<figure class="wp-block-stats-figure">
		<div class="wp-block-stats-row">
			<div class="wp-block-stat has-number-size-1 has-circle1-color-primary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">#1</div>
						<div class="wp-block-stat-text-post">a</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 0 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="wp-block-stat has-number-size-4 has-circle2-color-secondary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">1,000</div>
						<div class="wp-block-stat-text-post">b</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 75 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="wp-block-stat has-number-size-3 has-circle2-color-tertiary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">262</div>
						<div class="wp-block-stat-text-post">c</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 33 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<figcaption class="wp-block-stats-caption">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing</figcaption>
	</figure>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae cursus risus mauris vitae nisi. Cras</p>


<div class="wp-block-stats butoday-block-stats has-4-stats">
	<figure class="wp-block-stats-figure">
		<div class="wp-block-stats-row">
			<div class="wp-block-stat has-number-size-1 has-circle1-color-primary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">#1</div>
						<div class="wp-block-stat-text-post">a</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 0 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="wp-block-stat has-number-size-4 has-circle2-color-secondary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">1,000</div>
						<div class="wp-block-stat-text-post">b</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 75 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="wp-block-stat has-number-size-3 has-circle2-color-tertiary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">262</div>
						<div class="wp-block-stat-text-post">c</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 100 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 33 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="wp-block-stat has-number-size-2 has-circle1-color-secondary has-circle2-color-quaternary">
				<div class="wp-block-stat-container-outer">
					<div class="wp-block-stat-container-inner">
						<div class="wp-block-stat-number">33%</div>
						<div class="wp-block-stat-text-post">d</div>
						<svg class="wp-block-stat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<circle class="wp-block-stat-circle1" style="stroke-dashoffset: calc( 302 * ( 1 - ( 66 * 0.01 ) ) )"/>
							<circle class="wp-block-stat-circle2" style="stroke-dashoffset: calc( 302 * ( 1 - ( 33 * 0.01 ) ) )"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<figcaption class="wp-block-stats-caption">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing</figcaption>
	</figure>
</div>
