// =================================================================
// Story List Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

.wp-block-storylist {

	.storycategory {

		span {
			background: $color-grayscale-0;
			color: $color-grayscale-f;
			padding: 5px;
			text-transform: uppercase;
		}
	}
}