<article class="wp-block-storylist {{modifier_class}}">
	<p class="wp-block-storylist-category"><span>Category</span></p>
	<h4 class="wp-block-storylist-title"><a href="#" class="storylink">Lorem ipsum dolor sit amet, consectetur</a></h4>
	<p class="wp-block-storylist-title-date">January 15, 2018</p>
</article>
