<article class="wp-block-storylist {{modifier_class}}">
	<p class="storycategory"><span>Category</span></p>
	<h4 class="storytitle"><a href="#" class="storylink">Lorem ipsum dolor sit amet, consectetur</a></h4>
	<p class="storydate">January 15, 2018</p>
</article>
