<article class="wp-block-component-editorial-storylist {{modifier_class}}">
	<p class="wp-block-component-editorial-storylist-category"><span>Category</span></p>
	<h4 class="wp-block-component-editorial-storylist-title"><a href="#" class="wp-block-component-editorial-storylist-link">Lorem ipsum dolor sit amet, consectetur</a></h4>
	<p class="wp-block-component-editorial-storylist-date">January 15, 2018</p>
</article>
