/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@import 'tools';


// =================================================================
// Global and Base Styles
// =================================================================

// =================================================================
// Blocks
// =================================================================

//@import 'blocks/sample/style.scss';

// =================================================================
// Layout
// =================================================================

// =================================================================
// Templates
// =================================================================

// =================================================================
// Icons
// =================================================================

.icon-navigateright {
	@extend %icon-navigateright;
}

.icon-navigateleft {
	@extend %icon-navigateleft;
}

