// =================================================================
// Featured Tweet Styles - Configurable
// =================================================================
//
//
// Styles in this file should mainly be for layout, width, etc that are
// not able to be overwritten by the variables in the global sass array
//
//

$color-twitter: #00a5f8;
$color-bu-red: #d80000;


.wp-block-featured-tweet {
	background: $color-grayscale-f;
	border: 1px solid $color-grayscale-d;
	padding: 60px 30px;
	margin-bottom: 60px;
	position: relative !important;
	text-align: center;

	@include breakpoint( $xs ) {
		padding: 60px;
	}

	@include breakpoint( $md ) {
		padding: 120px 60px;
	}

	&.is-style-shadow {
		border: none;
		-webkit-box-shadow: 0px 3px 27px -2px rgba( 0, 0, 0, 0.18 );
		-moz-box-shadow: 0px 3px 27px -2px rgba( 0, 0, 0, 0.18 );
		box-shadow: 0px 3px 27px -2px rgba( 0, 0, 0, 0.18 );
	}
}

.wp-block-featured-tweet-text-wrapper {
	@include icon( 'twitter-alt', 'after' );

	&::after {
		font-size: 60px;
		position: absolute;
		bottom: -30px;
		left: 0;
		right: 0;
		background: $color-grayscale-f;
		width: 60px;
		margin: 0 auto;
		color: $color-twitter;
	}
}

.wp-block-featured-tweet-handle {
	text-transform: uppercase;
	font-size: 0.8em;
	color: $color-twitter;
	margin-bottom: 40px;
}

.wp-block-featured-tweet-text {
	font-size: 1em;
	line-height: 1.4;

	@include breakpoint( $xs ) {
		font-size: 1.5em;
	}

	@include breakpoint( $md ) {
		max-width: 70%;
		margin: 0 auto;
	}

	&::before {
		content: '“';
		color: $color-bu-red;

	}

	&::after {
		content: '”';
		color: $color-bu-red;
	}
}
